.video-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.video-input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
  